@import "./../sass/colors.scss";
@import "./../sass/base.scss";

#landing {
  margin-top: 100px;
  .intro-wrapper {
    background-color: #f1f1f1;
    padding: 5.6%;

    .cm.s1 {
      color: $black;
      letter-spacing: 1.4px;
      margin-bottom: 20px;
    }
  
    .os.s2 {
      color: $grey;
      line-height: 1.43;
      letter-spacing: 0.7px;
    }
  
    .os.s7 {
      letter-spacing: 0.5px;
      margin-top: 10px;
      color: $grey;
    }
  
    .cm.s2 {
      margin-top: 80px;
      text-align: center;
    }
  }

   .intro-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .intro-container .col:last-child {
    text-align: right;
  }

  .intro-container .col {
    width: calc((100% - 6.5%)/2);
  }

  .brands {
    padding: 30px;
    background-color: #e0e0e0;
  }

  .brands-heading {
    color: $grey;
    letter-spacing: 0.8px;
    text-align: center;
    font-weight: 600;
  }

  .brands-list {
    margin: 40px auto 40px auto;
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .what-is-hipbar {
    background-color: #f1f1f1;
    padding: 8% 18.6%;
    h1 {
      text-align: center;
      color: $black;
      letter-spacing: 1.3px;
    }
    p {
      margin-top: 20px;
      text-align: center;
      color: $grey;
      line-height: 1.79;
      letter-spacing: 0.7px;
    }
  }

  .our-presence {
    padding: 30px;
    background-color: #e0e0e0;
    .presence-counts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 800px;
      margin: 40px auto 0 auto;
    }
    .presence-item {
      h1 {
        color: $grey;
        letter-spacing: 1.5;
        font-weight: 600;
      }
    }
  }

  .how-to-use {
    background-color: #f1f1f1;
    padding: 80px 20px;
    background-color: #f1f1f1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    h1 {
      text-align: center;
    }
    .item {
      margin-top: 60px;
      text-align: center;
      
      h2 {
        margin-top: 20px;
        letter-spacing: 1px;
      }
      p {
        margin-top: 10px;
        letter-spacing: 0.7px;
        line-height: 1.38;
        color: $grey;
      }
    }

    .app-store-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 30px;
      a {
        &:first-child {
          margin-right: 15px;
        }
        &:last-child {
          margin-left: 15px;
        }
      }
      svg {
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 930px) {
  #landing {
    .intro-container {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
    }

    .intro-container .col {
      width: 100%;
    }

    .intro-container .col:last-child {
      text-align: center;
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 480px) {
  #landing {
    .intro-container .col:first-child {
      text-align: center;
      .os.s7 {
        display: none;
      }
    }

    .intro-wrapper .cm.s2 {
      margin-top: 20px;
      div {
        margin-top: 10px !important;
      }
    }
  } 
}