@import "./../sass/base.scss";
.paper {

  .flex-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 20px 0;
    .col {
      margin-top: 20px;
    }
  }

  >div{
    padding-left:20px;
    padding-right:20px;
  }

  .paper-content{
    padding: 20px;        
  }
  .steps {
    // font-weight: 600;
    color: #777777;
  }

  .steps-result {
    line-height: 1.42;
    color: #777777;
    padding-top: 20px;
  }

  .form-group {
    margin-top: 15px;
  }

  .next{
    width: 100%;
    padding-top: 10px;
    position: unset;        
  }
  input{
    max-width: 400px;
  }
}

@media only screen and (max-width: 480px) {
  #sendgiftv2 .paper.city {
    text-align: left;

    .next{          
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #f1f1f1;
      position: fixed;
      //z-index: 2147483601;
      bottom: 0;
      >button{
        width:100%;
      }
    }
  }
}
