@import "./../sass/base.scss";

#checkout {

  a {
    color: #555;
  }

  .final-payment-button.mobile {
    display: none;
  }

  .paper {
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 40px;
  }

  .row {
    max-width: 560px;
  }

  .gift-card-info {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    .os.s7 {
     line-height: 1.6;
     letter-spacing: 0.5px;
     color: #000;
    }
    .os.s6 {
      font-weight: 600;
     letter-spacing: 0.6px;
     color: #000;
    }
  }

  .os.s5 {
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #000;
  }

  .os.s8 {
    color: #555;
    letter-spacing: 0.5px;
  }


  .payment-methods-wrapper {
    margin-top: 20px;
  }

  .payment-methods-container {
    margin-top: 20px;
    border: 1px solid #dddbda;
    input[type=checkbox] {
      width: inherit;
    }
  }
}

@media only screen and (max-width: $sm) {
  #checkout {
    .paper {
      padding: 20px;
    }
  }
}