// // body font size
// $browser-context: 16;

// // unitless function to convert px to em
// @function em($pixels, $context: $browser-context) {
//   @if (unitless($pixels)) {
//     $pixels: $pixels * 1px;
//   }
//   @if (unitless($context)) {
//     $context: $context * 1px;
//   }
//   @return $pixels / $context * 1rem;
// }

@function px($size) {
  @return $size/1.4 * 1px;
}

/* Layout */
.container {
  padding: 5.6%;
}

// @media only screen and (max-width: 33)

/* Font families */

$font-OpenSans: "Open Sans", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;
$font-Cormorant: "Cormorant Garamond", serif;


/* Texts  */
/* cm - Cormorant Garamond */
/* os - Open Sans */

.cm {
  font-family: $font-Cormorant;
  &.s1 {
    font-size: px(52);
  }
  &.s2 {
    font-size: px(40);
  }
  &.s3 {
    font-size: px(38);
  }
  &.s4 {
    font-size: px(36);
  }
  &.s5 {
    font-size: px(32);
  }
  &.s6 {
    font-size: px(28);
  }
}

.os {
  font-family: $font-OpenSans;
  &.s1 {
    font-size: px(32);
  }
  &.s2 {
    font-size: px(30);
  }
  &.s3 {
    font-size: px(28);
  }
  &.s4 {
    font-size: px(26);
  }
  &.s5 {
    font-size: px(24);
  }
  &.s6 {
    font-size: px(22);
  }
  &.s3 {
    font-size: 16px;
  }
  &.s7 {
    font-size: px(20);
  }
  &.s8 {
    font-size: px(18);
  }
  &.s9 {
    font-size: px(16);
  }
  &.s10 {
    font-size: px(14);
  }
}


@media only screen and (max-width: 970px) {
  .cm {
    &.s1 {
      font-size: 28px;
    }

    &.s2 {
      font-size: 22px;
    }
  }
}

@media only screen and (max-width: 930px) {
  .cm {
    &.s1 {
      font-size: 26px;
    }

    &.s2 {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .cm {
    &.s1 {
      font-size: 20px;
    }

    &.s2 {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 360px) {
  .cm {
    &.s1 {
      font-size: 18px;
    }

    &.s2 {
      font-size: 14px;
    }
  }
}
  @media only screen and (max-width: 970px) {
    .os {
      &.s0 {
        font-size: 32px;
      }
  
      &.s1 {
        font-size: 22px;
      }

      &.s2 {
        font-size: 18px;
      }

      &.s3 {
        font-size: 14px;
      }
  
      &.s7 {
        font-size: 10px;
      }
    }
  }
  
  @media only screen and (max-width: 930px) {
    .os {
      &.s0 {
        font-size: 30px;
      }
  
      &.s1 {
        font-size: 20px;
      }

      &.s2 {
        font-size: 16px;
      }

      &.s3 {
        font-size: 12px;
      }
  
      &.s7 {
        font-size: 10px;
      }
    }
  }
  
  @media only screen and (max-width: 480px) {
    .os {
      &.s0 {
        font-size: 28px;
      }
  
      &.s1 {
        font-size: 18px;
      }

      &.s2 {
        font-size: 14px;
      }

      &.s3 {
        font-size: 10px;
      }
  
      &.s7 {
        font-size: 10px;
      }
    }
  }
  
  @media only screen and (max-width: 360px) {
    .os {
      &.s0 {
        font-size: 26px;
      }
  
      &.s1 {
        font-size: 18px;
      }

      &.s2 {
        font-size: 16px;
      }
  
      &.s7 {
        font-size: 10px;
      }
    }
  }

