// // body font size
// $browser-context: 16;

// // unitless function to convert px to em
// @function em($pixels, $context: $browser-context) {
//   @if (unitless($pixels)) {
//     $pixels: $pixels * 1px;
//   }
//   @if (unitless($context)) {
//     $context: $context * 1px;
//   }
//   @return $pixels / $context * 1rem;
// }


/* Texts  */
/* cm - Cormorant Garamond */
/* os - Open Sans */

.cm {
  font-family: 'Cormorant Garamond', serif;
  &.s1 {
    font-size: 36px;
  }

  &.s2 {
    font-size: 24px;
  }
}


@media only screen and (max-width: 970px) {
  .cm {
    &.s1 {
      font-size: 28px;
    }

    &.s2 {
      font-size: 22px;
    }
  }
}

@media only screen and (max-width: 930px) {
  .cm {
    &.s1 {
      font-size: 26px;
    }

    &.s2 {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .cm {
    &.s1 {
      font-size: 20px;
    }

    &.s2 {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 360px) {
  .cm {
    &.s1 {
      font-size: 18px;
    }

    &.s2 {
      font-size: 14px;
    }
  }
}
