@import "./../sass/base.scss";

#TransactionStatus {
  .container {
    min-height: calc(100vh - 87px);
  }

  svg {
    width: 64px;
    height: 64px;
  }
  svg g g {
    fill: #777;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .col:last-child {
    position: sticky;
    top: calc(87px + 30px);
  }

  .paper {
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 4px;

    &.gift--basket {
      padding: 40px;
      width: 764px;
      margin-right: 48px;
    }

    &.transaction--detail {
      width: 360px;
      padding: 20px;

      div {
        margin-top: 10px;
      }
    }

    &.transaction--detail-fail {
      width: 360px;
      padding: 20px;
      margin: 40px auto;

      div {
        margin-top: 10px;
      }
    }


    &.sent--to {
      margin-top: 20px;
      width: 360px;
      padding: 20px;

      div {
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: $sm) {
  #TransactionStatus {
    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .row {
      flex-direction: column;
      align-items: inherit;
      .col:last-child {
        position: relative;
        top: auto;
      }
    }

    .paper {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
    }

    .paper.gift--basket {
      padding: 20px;
      margin-right: 0;
      width: 100%;

      // .basket-body {
      //   margin-top: 16px;
      // }
    }

    .paper.transaction--detail{
      margin-top: 20px;
      width: 100%;
    }

    .paper.transaction--detail-fail{
      margin-top: 20px;
      width: 100%;
    }

    .paper.sent--to {
      width: 100%;
    }
  }
}