@import "./../sass/base.scss";

#TransactionStatus {
  margin-bottom: 40px;
  .container {
    min-height: calc(100vh - 87px);
  }

  .tick svg {
    width: 64px;
    height: 64px;
    @include themify($themes) {
      g g {
        fill: themed("text-color");
      }
    }
  }


  .app-store-btn {
    display: flex;
    align-items: center;
    // justify-content: center;
    margin-top: 30px;
    margin-left: 68px;
    a {
      &:first-child {
        margin-right: 15px;
      }
      &:last-child {
        margin-left: 15px;
      }
    }
    svg {
      max-width: 100%;
    }
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .col:first-child {
      margin-right: 70px;
    }
  }

  .col:last-child {
    position: sticky;
    top: calc(87px + 30px);
  }

  .what-next {
    max-width: 560px;
    width: 100%;
    h2 {
      margin-bottom: 40px;
    }

    .note {
      display: flex;
      div:last-child {
        margin-left: 20px;
      }
      .os.s3 {
        font-weight: 600;
        margin-bottom: 10px;
      }
      svg {
        width: 50px;
        height: 50px;
        @include themify($themes) {
          circle {
            stroke: themed("text-color")
          }
          path {
            fill: themed("text-color")
          }
        }
      }
    }

    .note:nth-child(3) {
      margin-top: 40px;
    }
  }

  .paper {
    border-radius: 4px;
    .header {
      @include themify($themes) {
        border-bottom: 1px solid themed("border-bottom-color")
      }
    }

    &.gift--basket {
      padding: 20px;
      width: 360px;
      @include themify($themes) {
        > p {
          border-bottom: 1px solid themed("border-bottom-color")
        }
      }
      .col {
        margin-right: 0;
      }
      .gift--basket__item {
        margin-right: 0;
        max-width: 100%;
      }
    }

    &.transaction--detail {
      margin-top: 20px;
      width: 360px;
      padding: 20px;

      div {
        margin-top: 20px;
      }
    }

    &.transaction--detail-fail {
      width: 360px;
      padding: 20px;
      margin: 40px auto;

      div {
        margin-top: 10px;
      }
    }


    &.sent--to {
      margin-top: 20px;
      width: 360px;
      padding: 20px;

      div {
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: $sm) {
  #TransactionStatus {
    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .row {
      flex-direction: column;
      align-items: inherit;
      .col:first-child {
        margin-right: 0;
      }
      .col:last-child {
        position: relative;
        top: auto;
      }
    }

    .what-next {
      padding: 20px;
      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .app-store-btn {
      justify-content: center;
      margin-left: 0;
      margin-top: 20px;
      svg {
        width: 140px;
      }
    }

    .what-next {
      .note {
        svg {
          width: 42px;
          height: 42px;
        }
      }
    }

    .paper {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
    }

    .paper.gift--basket {
      padding: 20px;
      margin-right: 0;
      width: 100%;

      // .basket-body {
      //   margin-top: 16px;
      // }
    }

    .paper.transaction--detail{
      margin-top: 20px;
      width: 100%;
    }

    .paper.transaction--detail-fail{
      margin-top: 20px;
      width: 100%;
    }

    .paper.sent--to {
      width: 100%;
    }
  }
}