@import "./../sass/base.scss";

.brands--list {
  width: 100%;
}

.brands--list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

@media only screen and (max-device-width: $sm) {
  .brands--list {
    width: 100%;
    display: block;
  }
}