.brand--item {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  border-left: 0;
  border-right: 0;
  padding: 16px 20px;
  display: flex;
  align-items: center;
    
    &:last-child {
      border: 0;
    }
    .brand--item__img {
      position: relative;
      width: 64px;
      height: 64px;
      margin-right: 16px;

      img {
        border-radius: 4px;
        filter: grayscale(1);
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.1s all ease-in;
        &.img-loaded {
          opacity: 1;
          transition: 0.1s all ease-in;
        }
      }
    }
    .brand--item__desc {
      .os.s1 {
        font-weight: 600;
        letter-spacing: 0.4px;
        color: #555;
      }
      .os.s5 {
        margin-top: 7px;
        text-transform: uppercase;
        color: #777;
        font-weight: 600;
        letter-spacing: 0.3px;
      }
    }

    .img-placeholder {
      width: 100%;
      height: 100%;
      background-color: #dfdfdf;
      position: absolute;
      top: 0;
      left: 0;
    }
}

// .brand--item-shell {
//   background-color: #fff;
// }