.search--results {
  background-color: #fff;
  height: calc((100vh - 46px - 100px));
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 46px;
  left: 0;
  z-index: 2147483602;

  svg {
    width: 36px;
    height: 42px;
  }
}