.btn {
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  border: 1px solid;
  border-radius: 0px;
  line-height: 38px;
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease;
  cursor: pointer;
  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.btn-primary {
    border-color: #3d70b2;
    background-color: #3d70b2;
    color: #fff;
    &:hover {
      transition: all 0.2s ease;
      background-color: darken(#2f2f31, 5%);
    }
  }

  &.btn-secondary {
    background-color: #fff;
    border-color: #5a6872;
    color: #3e3e40;
    &:hover {
      transition: all 0.2s ease;
      border-color: #5a6872;
      background-color: #5a6872;
      color: #fff;
    }
  }

  &.btn-danger {
    background-color: #fff;
    border-color: #a2172a;
    color: #a2172a;
    &:hover {
      transition: all 0.2s ease;
      border-color: #a2172a;
      background-color: #a2172a;
      color: #fff;
    }
  }
}