@import "./../../sass/base.scss";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 5003;
  background: rgba(0, 0, 0, 0.8);
  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    min-height: 140px;
    width: 36%;
  }
  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    min-height: 140px;
    width: 36%;
    font-family: $font-OpenSans;
    padding: 25px 49px;
    box-shadow: 0 2px 28px -5px rgba(0, 0, 0, 0.5);

    .modal-header {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .modal-body {
      max-height: 560px;
      padding: 30px 0;
      p {
        text-align: center;
        font-weight: 600;
      }
      //overflow-y: auto;
    }
    .modal-footer {
      // text-align: right;
      // position: absolute;
      //width: calc(100% - 98px);
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 20px;
      display: flex;
      justify-content: center;
      .btn {
        margin-left: 10px;
        border-style: none;
        border-radius: 2px;
        padding: 0 30px;
        // margin-right: -10px;
        box-sizing: border-box;
        border: 1px solid #000;
        text-transform: uppercase;
        text-align: center;
        // font-size: 14px;
        font-weight: 600;
        // width: auto;
        width: 140px;
        line-height: 40px;
        &:focus {
          outline: 0;
          box-shadow: none;
        }
        // &:hover {
        //   background: #f6f6f6;
        // }
        &.btn-primary {
          color: #fff;
          background: #000;
        }
        &.btn-secondary {
          color: #000;
          background: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .modal-container {
    width: 73% !important;
    padding: 10px 19px !important;
  }

  .modal-header {
    svg {
      width: 40px;
      height: 42px;
    }
  }

  .modal-body {
    max-height: 360px !important;
    padding: 20px 0 !important;
  }

  .modal-footer {
    // text-align: right;
    // position: absolute;
    //width: calc(100% - 38px) !important;
    .btn {
      padding: 0 10px !important;
      height: auto !important;
      line-height: 34px !important;
    }
  }
}

@media only screen and (max-width: 420px) {
  .modal-box {
    //position: absolute;
    // top: 0 !important;
    // left: 0 !important;
    z-index: 9999;
    width: 100% !important;
    height: 100vh;
    border-radius: 0px !important;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .modal-box {
    width: 56% !important;
  }
}