@import "./../sass/base.scss";

#SignIn {
  padding: 8.5% 49px;
  border-radius: 5px;
  box-shadow: 0 2px 28px -5px rgba(0, 0, 0, 0.5);
  background-color: #f1f1f1;
  font-family: $font-OpenSans;
  .page-body {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;

    .country-code {
      border: 1px solid #cccccc;
      display: flex;
      padding: 0 10px;
      align-items: center;
      font-size: 14px;
    }

    .country-code.error {
      //border: 1px solid #c23934 !important;
      // border-right: 0 !important;
      border-left: 1px solid #c23934 !important;
      border-top: 1px solid #c23934 !important;
      border-bottom: 1px solid #c23934 !important;
    }

    label {
      //padding: 10px 0;
      //height: 40px;
      margin: 10px 0;
    }

    input {
      padding: 10px 10px;
      width: 100%;
      border: 1px solid #CCCCCC !important;
    }

    input.error {
      border: 1px solid #c23934 !important;
    }

    input.mobile.error {
      border-left: 0 !important;
      border-right: 1px solid #c23934 !important;
      border-top: 1px solid #c23934 !important;
      border-bottom: 1px solid #c23934 !important;
    }

    input[type="text"] { 
      outline: none;
    }

    .error-message {
      color: #c23934;
      font-weight: 600;
      padding: 10px;
    }
    .input-otp-container {
      position: relative;
      .resend {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: 600;
        cursor: pointer;

        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

    .note {
      color: #232a2e;
      letter-spacing: 0;
      margin: 10px 0;
      font-weight: 600;
    }

    .alert-box {
      display: flex;
      padding: 10px 5px;
      margin: 10px 0;
      border: 1px solid #000;
      border-radius: 4px;
    }
  }

  .page-footer {

    .button-section {
      display: flex;

      &.mobile {
        display: none
      }
    }

    .btn {
      margin-right: 10px;
      border-style: none;
      border-radius: 2px;
      padding: 0 30px;
      // margin-right: -10px;
      box-sizing: border-box;
      border: 1px solid #000;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      line-height: 40px;
      &:focus {
        outline: 0;
        box-shadow: none;
      }

      &.btn-primary {
        color: #fff;
        background: #000;
      }
      &.btn-secondary {
        color: #000;
        background: #fff;
      }
      &.loader {
        padding: 0 40px;
        width: 150px;
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  #SignIn {
    height: 100vh;
    border-radius: 0px;
    padding: 8.5% 25px;
    .page-footer {
      .button-section {
        display: none;
        &.mobile {
          display: flex !important;
          flex-direction: column !important;
        }
      }
      .btn {
        // width: 80px;
        // padding: 0px 10px;
        line-height: 30px;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

}