@import "./../../sass/base.scss";

.accordian {
  width: 100%;
  font-family: "Open Sans";
  // border: 1px solid #dfdfdf;
}

.accordian-item {
  &:first-child {
    .accordian-item__header {
      @include themify($themes) {
        border-bottom: 1px solid themed("border-bottom-color")
      }
    }
  }
  &:last-child {
    .accordian-item__header {
      @include themify($themes) {
        border-top: 1px solid themed("border-bottom-color")
      }
    }
  }
  &.active {
    .accordian-item__body {
      max-height: 500px;
      padding: 20px;
      transition: all 0.2s ease-in;
    }

    .accordian-item__header {
      @include themify($themes) {
       background-color: themed("paper-color");
       svg g g {
         fill: themed("text-color")
       }
      }
      transition: background-color 0.2s ease-in;
      border: 0;
    }
  }
  .accordian-item__body {
    max-height: 0;
    padding: 0 20px;
    overflow: hidden;
    transition: all 0.2s ease-out;
  }
}

.accordian-item__header {
  @include themify($themes) {
    border-bottom: 1px solid themed("border-bottom-color");
    border-top: 1px solid themed("border-bottom-color");
    svg g g {
      fill: themed("text-color")
    }
  }
  transition: background-color 0.2s ease-in;
  cursor: pointer;
  width: 100%;
  @include themify($themes) {
    background-color: themed("paper-color")
   }
  padding: 20px;
  p {
    pointer-events: none;
    max-width: 90%;
  }
  .os.s7 {
    font-weight: bold;
    letter-spacing: 0.6px;
  }
}

.accordian-item__body {
  @include themify($themes) {
    background-color: themed("paper-color")
   }
}
