@import "./../sass/base.scss";

#LegalDrinkingAge {
  width: 100%;
  //font-family: $font-OpenSans;
  //height: 100vh;
  h4, h2 {
    //font-family: $font-Cormorant;
    text-align: center;
    padding-bottom: 10px;
  }
  .content {
    // padding: 0 20.5%;
    position: relative;
    // margin-top: calc(134px + 80px);
    // margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 15% 12.5% 7%;
    @include themify($themes) {
      background: themed("paper-color")
    }

    .header {
      @include themify($themes) {
        border-bottom: 1px solid themed("border-bottom-color");
      }
      text-align: left;
    }

    .state-list {
      width: 100%;
      margin-top: 30px;


      .state {
        display: flex;
        padding: 10px 0;
        align-items: center;
        justify-content: space-between;
        @include themify($themes) {
          border-bottom: 1px solid themed("input-border-color");
        }

        span {
          width: calc(50% - 12.5%)
        }
      }
    }
  }
}