#product--details {
  margin-top: 100px;
  width: 100%;

  .container {
    background-color: #f1f1f1;
    padding-left: 0;
    padding-right: 0;
  }
  
  .paper {
    position: relative;
    background-color: #fff;
    .header {
      padding: 16px 20px;
    }
    p, span {
      color: #555;
    }
  }

  .brand--item {
    padding: 16px 20px;
    padding-top: 0;
    border: 0;
    svg {
      display: none;
    }
  }

  .skus {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 16px 20px;
    
    .hr {
      height: 2px;
      width: 100%;
      background-color: #dddbda;
    }
    .sku--item {
      border: 1px solid #777;
      border-radius: 2px;
      width: 65px;
      height: 35px;
      text-align: center;
      padding: 8px;
      margin-bottom: 16px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:nth-child(2n-1) {
        margin-right: 0 8px;
      }
      
      // &:nth-child(2n) {
      //   margin-left: 8px;
      // }
      color: #777;
      &:focus {
        background-color: #777;
        color: #fff;
        outline: 0;
      }
    }
  }

  .total--price {
    padding: 16px 20px;
    padding-top: 0;
    p {
      color: #777;
      span {
        font-weight: 600;
      }
    }
  }
}