@import "./../../sass/base.scss";

.promo--code__item:not(:last-child) {
  margin-bottom: 20px;
}

.promo--code__item {
  @include themify($themes) {
    border: 1px solid themed("input-border-color");
    background: themed("paper-color");
  }
  border-radius: 4px;
  padding: 20px;

  .row {
    display: flex;
    margin-bottom: 20px;
  }

  .row:first-child {
    justify-content: space-between;
  }

  .row:nth-child(2) {
    max-width: 90%;
    margin-bottom: 0;
  }

  .row:nth-child(3) {
    margin-bottom: 0;
    svg {
      margin-left: 10px;
      width: 12px;
    }
  }

  .row:last-child {
    margin-bottom: 0;
  }
}