.promo--code__item:not(:last-child) {
  margin-bottom: 20px;
}

.promo--code__item {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  background: #fff;
  padding: 20px;

  .row {
    display: flex;
    margin-bottom: 20px;
  }

  .row:first-child {
    justify-content: space-between;
  }

  .row:nth-child(2) {
    max-width: 90%;
  }

  .row:last-child {
    margin-bottom: 0;
    svg {
      margin-left: 10px;
      width: 12px;
    }
  }
}