@import "./../../sass/base.scss";

#promo--codes {
  width: 100%;
  // border: 1px solid #dfdfdf;
  max-width: 100%;
  @include themify($themes) {
    .apply-btn {
      color: themed("button-primary-color")
    }
  }

  .promo--code__body {
    @include themify($themes) {
      background: themed("container-color");
    }
    padding: 20px;
  }

  .promo--code__form {
    
    padding: 20px;
  }

  .promo--code__form .form-group span {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}