.gift--more-drinks {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 20px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #fff; 
  a {
    text-decoration: none
  }
  a:first-child {
    text-align: center;
    text-transform: uppercase;
    p {
      letter-spacing: 0.5px;
    }
  }

  a:first-child svg {
    width: 26px;
    height: 26px;
  }

  // a:last-child {
  //   wid
  // }
  
}