.gift--more-drinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #fff; 
  a {
    text-decoration: none
  }
  a:first-child {
    text-align: center;
  }

  a:first-child svg {
    width: 36px;
    height: 36px;
  }

  // a:last-child {
  //   wid
  // }
  
}