@import "./../../sass/base.scss";

.city--select {
  // flex: 1;
  width: 200px;
  height: 46px;
  opacity: 1;
  position: relative;
  overflow: hidden;
  transition: 0.2s all ease-in-out;
  @include themify($themes) {
    svg g g {
      fill: themed("text-color")
    }
  }
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    &:first-child {
      left: 10px;
    }
    &:last-child {
      right: 10px;
    }
  }
}

.city--select {
  select {
    @include themify($themes) {
      border: 1px solid themed("input-border-color");
      background-color: themed("input-bg-color");
      color: themed("text-color")
    }
    width: 100%;
    height: 100%;
    letter-spacing: 0.4px;
    text-indent: 24px;
    padding: 0 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  
    option{
      text-indent: 16px;
    }
  
    &:focus {
      outline: 0;
    }
  }
}