@import "./../../sass/base.scss";

#genre--slider {
  width: 100%;
  margin-bottom: 20px;
  .slick-slider {
    width: 100%;
    position: relative;
  }

  // .slick-slide {
  //   padding: 0 40px;
  // }

  .slick-slide .genre--item {
    padding: 0;
    margin: 0;
    p {
      font-size: 14px;
      // line-height: 1.0;
    }
  }

  .slick-slide .genre--item.active p {
    &:after {
      content: "";
      display: inline-block;
      height: 2px;
      border-radius: 4px;
      width: 100%;
      @include themify($themes) {
        background: themed("text-color")
      }
    }
  }

  .slick-disabled {
    opacity: 0;
    pointer-events: none;
  }
  
  .slick-prev::before, .slick-next::before {
    display: none;
  }
  
  .slick-arrow {
    @include themify($themes) {
      background-color: themed("paper-color")
    }
    width: 32px;
    height: 32px;
    padding: 0 15px;
    // svg {
    //   width: 100%;
    //   height: 100%;
    // }
    z-index: 1;
    position: relative;
    &.slick-prev svg {
      transform: translateX(-50%) rotate(-180deg);
      left: -10px;
    }
    &.slick-next svg {
      transform: translateX(-50%);
      right: -10px;
    }
  }
  
  .slick-initialized .slick-slide {
    display: inline-block;
    vertical-align: middle;
  }
  
  .slick-prev {
    position: absolute;
    margin-right: 5px;
    left: 0;
  }
  
  .slick-next {
    position: absolute;
    margin-left: 5px;
    right: 0;
  }
}