.no--brands--available {
  height: calc(100vh - 98px - 60px - 87px - 2px);
  position: relative;
  // height: 516px;
  p {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}