@import "./../sass/base.scss";

#gift--basket {
  position: relative;
  .container {
    min-height: calc(100vh - 87px);
  }
  .updating--cart-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  margin-top: 87px;

  .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .col:last-child {
      position: sticky;
      top: calc(87px + 30px);
    }
  }

  .paper {
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
  }

  .paper.no-basket {
    display: flex;
    width: 100%;
    height: calc(100vh - 87px - 96px);
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }

  .paper.basket {
    padding: 40px;
    width: 764px;
    max-width: 100%;
    margin-right: 48px;

    .header {
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 12px;
    }

    .basket-body {
      margin-top: 40px;
    }
  }

  .paper.coupon {
    > div {
      padding: 20px;
    }
    width: 360px;
    max-width: 100%;
  }

  .paper.total {
    margin-top: 20px;
    > div {
      padding: 20px;
    }
    width: 360px;
    max-width: 100%;
  }
}


@media only screen and (max-width: $sm) {
  #gift--basket {
    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .row {
      flex-direction: column;
      align-items: inherit;
      .col:last-child {
        position: relative;
        top: auto;
      }
    }

    .paper {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
    }

    .paper.basket {
      padding: 20px;
      margin-right: 0;
      width: 100%;

      .basket-body {
        margin-top: 16px;
      }
    }

    .paper.coupon {
      margin-top: 20px;
      width: 100%;
    }

    .paper.total {
      width: 100%;
    }
  }
}