@import "./../sass/base.scss";

#Faq {
  width: 100%;
  //font-family: $font-OpenSans;
  //height: 100vh;
  h4, h2 {
    //font-family: $font-Cormorant;
    text-align: left;
  }
  .content {
    // padding: 0 20.5%;
    position: relative;
    // margin-top: calc(134px + 80px);
    // margin-bottom: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    padding: 12% 15% 5% 15%;
    background: #f1f1f1;

    .faqContainer {
      width: 100%;
      margin: 50px 0;

      .section {
        margin-top: 24px;
      }

      .header {
        border-bottom: 2px solid #555;
        margin-bottom: 13px;
      }

      .question {
        width: 100%;
        // position: relative;
        // display: flex;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #dddbda;
        padding: 20px 10px;

        div {
          font-weight: 600;
          width: 84%;
          letter-spacing: 0.6px; 
        }

        .show{
          position: absolute;
          right: 16%;
        }

        .hide {
          position: absolute;
          right: 16%;
          display: none;
        }
      }

      .answer {
        border-radius: 4px;
        background: #fff;
        padding: 20px 10px;
        display: none;
      }
    }
  } 
}


@media only screen and (max-width: 720px) { 
  content {
    padding: 130px 7% 12% 7% !important;
  }
}