@import "./../../sass/base.scss";
    
#send-gift-name {
  .paper {
    padding: 20px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 87px - 96px);
  }

  .paper-content{
   text-align: center;
   margin-top: 10vh;

   .os.s1 {
     line-height: 1.56;
   }

   .os.s2 {
     margin-top: 20px;
     margin-bottom: 10px;
   }
  }

  input{
    max-width: 400px;
  }
}
