@import "./../sass/base.scss";

#GiftCards {
  width: 100%;
  font-family: $font-OpenSans;
  //height: 100vh;
  h4, h2 {
    font-family: $font-Cormorant;
    text-align: center;
  }
  .content {
    // padding: 0 20.5%;
    position: relative;
    // margin-top: calc(134px + 80px);
    // margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 15% 20.5% 8% 20.5%;
    background: #f1f1f1;
    h4 {
      font-size: 28px;
      letter-spacing: 1.3px;
    }
    .step-number {
      // margin-top: 80px;
      // margin-bottom: 36px;
      margin-top: 8%;
      margin-bottom: 3%;
    }
    .step-text {
      text-align: center;
      h2 {
        letter-spacing: 1px;
      }
      span {
        padding: 31px 0px;
        width: calc(39.5% - 62px); 
        line-height: 1.38;
        letter-spacing: 0.7px;
        text-align: center;
        color: #555555;
      }
    }

    .app-store-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      svg {
        max-width: 100%;
        &:first-child {
          margin-right: 15px;
        }
        &:last-child {
          margin-left: 15px;
        }
      }
    }
  }

  .button {
    background: #000;
    display: flex;
    // align-items: center;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 23px 36px;
    color: #fff;
    width: 348px;
    font-weight: bold;
    cursor: pointer;
    // display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    // width: 44%;
    // margin-top: 54px;
    margin-top: 10%;
    svg {
      color: #000;
    }
  }
  .start-gifting {
    //padding: 60px 22%;
    padding: 5% 10%;
    width: 100%;
    background: #000;
    color: #d1d2dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      //color: #d1d2dd;
      font-weight: 600;
      letter-spacing: 1.2px;
      font-size: 30px;
      text-align: center;
    }

    .note {
      margin-top: 12px;
    }

    .button {
      background: #d1d2dd;
      //padding: 23px 36px;
      color: #000;
    }
    // .button {
    //   background: #d1d2dd;
    //   padding: 23px 36px;
    //   color: #000;
    //   width: 278px;

    //   svg {
    //     color: #fff;
    //   }
    // }
  }

  // .button {
  //   font-weight: bold;
  //   cursor: pointer;
  //   display: flex;
  //   // align-items: center;
  //   justify-content: space-evenly;
  //   // width: 44%;
  //   // margin-top: 54px;
  //   margin-top: 10%;
  // }
}

@media only screen and (max-width: 720px) {
  #GiftCards {
    .content {
      // margin-top: 0px;
      // padding: 0 7%;
      // margin-bottom: 0px;
      padding: 130px 7% 12% 7%;
    }
    .step-number {
      margin-top: 23px !important;
      margin-bottom: 10px !important;
        svg {
          width: 35px;
          height: 35px;
        }
    }

    .step-text {
      span {
        padding: 21px 0px;
        width: calc(39.5% - 42px); 
      }
    }

    .app-btns {
      // margin-top: 20px !important;
      margin-top: 4% !important;
        svg {
          width: 94px;
          height: 25px;
        }
        a {
          // margin-right: 16px !important;
          margin-right: 3% !important;
        }
    }

    .button {
        margin-top: 21px;
        width: 183px !important;
        padding: 9px 18px !important;
        font-size: 10px !important;
        svg {
          height: 13px;
        }
    }

    // .start-gifting {
    //   .button {
    //     width: 144px;
    //   }
    // }
  }
}