@import "./../../sass/base.scss";

#added-to-basket--modal {
  .modal-header {
    text-align: right;
    padding: 10px;
    padding-bottom: 0;
    span {
      cursor: pointer;
    }
    @include themify($themes) {
      svg g g {
        stroke: themed("text-color");
      }
    }
  }
  .modal-body {
    height: auto !important;
    text-align: center;
    padding: 40px;
    @include themify($themes) {
      svg g g {
        fill: themed("text-color");
      }
    }
  }
  .modal-footer .gift--more-drinks{
    padding: 16px 20px;
    @include themify($themes) {
      border-top: 1px solid themed("border-bottom-color");
      svg g g {
        fill: themed("text-color");
      }
    }
  }
}

@media only screen and (max-width: $sm) {
  #added-to-basket--modal {
    .modal-container {
      width: 90%;
    }

    .modal-footer {
      a:first-child {
        // display: none;
      }
    }
  }
}