#added-to-basket--modal {
  .modal-body {
    padding: 40px 0 !important;
    background: #fff;
    p {
      margin-top: 20px;
      font-weight: 600;
    }
  }
  .modal-footer {
    background: #fff;
    border-top: 1px solid #dfdfdf;
    padding:  16px 20px;
  }
 .modal-container {
   padding: 0 !important;
 }
}