@import "./../../sass/base.scss";

#product--details {
  margin-top: 87px;
  width: 100%;
  
  .paper {
    position: relative;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 4px;

    &.price {
      padding: 40px 60px;
      border-bottom: 0;
      .header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
        border-bottom: 1px solid #dfdfdf;
      }
    }

    .sku--container {
      padding-top: 40px;
    }

    &.about-drink {
      border-bottom: 0;
      border-top: 0;
      padding: 40px 60px;
      p:first-child {
        font-weight: 600;
        color: #555;
        padding-bottom: 10px;
        border-bottom: 1px solid #dfdfdf;
      }
      p:last-child {
        line-height: 1.57;
        color: #555;
        margin-top: 8px;
      }
    }

    &.gs1-code {
      border-bottom: 0;
      border-top: 0;
      padding: 40px 60px;
      p {
        color: #555;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid #dfdfdf;
      }
      .gs1-img {
        margin-top: 16px;
        width: 140px;
        height: 80px;
        position: relative;
        .placeholder {
          width: 100%;
          height: 100%;
          background-color: #dfdfdf;
        }
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          &.loaded {
            opacity: 1;
          }
        }
      }
    }

    &.add-to-basket {
      display: none;
      padding: 40px 60px;
      text-align: center;
      p {
        font-size: 12px;
      }
      div > div svg {
        width: 42px;
        height: 32px;
        g {
          opacity: 1;
          g {
            fill: #555;
          }
        }
      }
    }
  }

  .brand--item {
    padding: 16px 20px;
    padding-top: 0;
    border: 0;
    svg {
      display: none;
    }
  }
}

// .total--price {
//   padding: 16px 20px;
//   padding-top: 0;
//   p {
//     color: #777;
//     span {
//       font-weight: 600;
//     }
//   }
// }


@media only screen and (max-width: $md) {
  #product--details {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media only screen and (max-width: $sm) {
  #product--details {
    .paper {
      &.price {
        padding: 16px 20px;
      }

      &.about-drink {
        padding: 16px 20px;
      }

      &.gs1-code {
        padding: 16px 20px;
      }
      &.add-to-basket {
        padding: 16px 20px;
        .btn {
          width: 100%;
        }
      }
    }
    .paper .sku--container {
      .btn {
        display: none;
      }
    }
    .paper.add-to-basket {
      display: block;
    }

    .paper .sku--container {
      padding-top: 16px;
    }
  }
}